
body {
    background-color: blue;      
    color: red;                  
    transition: background 0.3s, color 0.3s;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    font-size: 18px;
    line-height: 1.5;
}






